@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
}
.container {
  width: 90%;
  margin: auto;
}

/* NavComponent */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 2em;
}
.nav-desktop {
  display: none;
}
.mobile-inner-menu {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.mobile-inner-menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 2em;
}
.mobile-inner-menu ul {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  padding-left: .4em;
}
.mobile-inner-menu ul li {
  margin: 2.5em 0;
}

/* HeroComponent */
.hero-bg {
  background-image: url('/public/images/mobile/image-hero.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}
.hero-bg-div {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 1px solid #fff;
}
.hero-bg-div h1 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: .7em;
  text-align: left;
  letter-spacing: 1px;
}

/* ArticleComponent */
.article {
  margin: 6em 0;
}
.article div img {
  width: 100%;
  padding-bottom: 50px;
}
.desktop-img {
  display: none;
}
.article div h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2.1rem;
  text-transform: uppercase;
  padding-bottom: 1.5em;
}
.article div p {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: rgb(127, 127, 127);
  line-height: 1.6em;
  width: 90%;
  margin: auto;
}

/* MainComponent */
.main-h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 2em;
}

/* CreationCommonComponent */
.deep-earth {
  background-image: url('/public/images/mobile/image-deep-earth.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.deep-earth h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.night-arcade {
  background-image: url('/public/images/mobile/image-night-arcade.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.night-arcade h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.soccer-team-vr {
  background-image: url('/public/images/mobile/image-soccer-team.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.soccer-team-vr h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.the-grid {
  background-image: url('/public/images/mobile/image-grid.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.the-grid h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 40%;
  text-align: left;
}
.from-up-above {
  background-image: url('/public/images/mobile/image-from-above.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.from-up-above h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.pocket-borealis {
  background-image: url('/public/images/mobile/image-pocket-borealis.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.pocket-borealis h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.the-curiosity {
  background-image: url('/public/images/mobile/image-curiosity.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.the-curiosity h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.make-fish {
  background-image: url('/public/images/mobile/image-fisheye.jpg');
  background-position: center;
  background-size: cover;
  height: 200px;
  position: relative;
  margin-bottom: 1em;
}
.make-fish h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50%;
  text-align: left;
}
.bt-see {
  border: 1px solid #000;
  background-color: transparent;
  margin: 2em auto 8em auto;
  padding: 1em 4em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 3px;
}


/* FooterComponent */
.footer {
  background-color: #000;
  padding: 3em 0;
}
.footer div:nth-child(1) img {
  padding-bottom: 1em;
}
.footer div ul {
  color: #fff;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}
.footer div ul li {
  margin: 1em 0;
}
.socials img {
  margin: 2em 1em;
}
.footer p {
  color: rgb(127, 127, 127);
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}


@media(min-width: 1000px) {
  .container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }
  
  /* NavComponent */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 4em;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .nav-desktop ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
  }
  .nav-desktop ul li {
    margin-left: 4em;
    color: #fff;
  }
  
  
  /* HeroComponent */
  .hero-bg {
    background-image: url('/public/images/desktop/image-hero.jpg');
    background-position: left;
    height: 850px;
    transition: all .3s ease;
  }
  .hero-bg:hover {
    filter: blur(1px) contrast(300%) hue-rotate(15deg);
  }
  .hero-bg-div {
    top: 18%;
    left: 35%;
    border: 2px solid #fff;
    width: 50%;
  }
  .hero-bg-div h1 {
    font-size: 4rem;
    padding: .6em;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #000;
  }
  
  /* ArticleComponent */
  .article {
    margin: 8em 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
  }
  .article > div:nth-child(1) {
    height: 500px;
  }
  .article > div:nth-child(2) {
    background-color: #fff;
    width: 50%;
    position: absolute;
    right: 0;
    height: 300px;
  }
  .article div img {
    display: none;
  }
  .article .desktop-img {
    display: block;
    width: 732px;
    height: 500px;
  }
  .article div h1 {
    font-size: 2.3rem;
    padding-bottom: 1em;
    padding-top: 1.5em;
    width: 70%;
    margin: auto;
  }
  .article div p {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: rgb(127, 127, 127);
    line-height: 1.6em;
    width: 80%;
    margin: auto;
  }
  
  /* MainComponent */
  .main-h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 2em;
  }
  
  /* CreationCommonComponent */
  .deep-earth {
    background-image: url('/public/images/mobile/image-deep-earth.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .deep-earth h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .night-arcade {
    background-image: url('/public/images/mobile/image-night-arcade.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .night-arcade h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .soccer-team-vr {
    background-image: url('/public/images/mobile/image-soccer-team.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .soccer-team-vr h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .the-grid {
    background-image: url('/public/images/mobile/image-grid.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .the-grid h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 40%;
    text-align: left;
  }
  .from-up-above {
    background-image: url('/public/images/mobile/image-from-above.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .from-up-above h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .pocket-borealis {
    background-image: url('/public/images/mobile/image-pocket-borealis.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .pocket-borealis h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .the-curiosity {
    background-image: url('/public/images/mobile/image-curiosity.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .the-curiosity h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .make-fish {
    background-image: url('/public/images/mobile/image-fisheye.jpg');
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    margin-bottom: 1em;
  }
  .make-fish h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 5%;
    width: 50%;
    text-align: left;
  }
  .bt-see {
    border: 1px solid #000;
    background-color: transparent;
    margin: 2em auto 8em auto;
    padding: 1em 4em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 3px;
  }
  
  
  /* FooterComponent */
  .footer {
    background-color: #000;
    padding: 3em 0;
  }
  .footer div:nth-child(1) img {
    padding-bottom: 1em;
  }
  .footer div ul {
    color: #fff;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
  .footer div ul li {
    margin: 1em 0;
  }
  .socials img {
    margin: 2em 1em;
  }
  .footer p {
    color: rgb(127, 127, 127);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
}